

/*main {
    background-color: #335C67;
}*/

.navbar {
    background-color: #E09F3E;
    height: 53px;
    width: auto;

    color: #000;
    text-align: center;
    font-family: "sweet-titling-no-26", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%; /* 24px */
    letter-spacing: -0.176px;
}

.navbar-brand .logo {
    height: 40px;        
    width: auto;        
    margin-right: 1px; 
    vertical-align: middle;
}

.position-relative{
    background-color: #335C67;
}
.position-relative h2 {
    color: #000;
    text-align: center;
    font-family: "riant-display", serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    letter-spacing: -0.22px;
}

.position-relative h1 {
    color: #000;
    text-align: center;
    font-family: "riant-display", serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 8000%;
    line-height: 150%; /* 22.5px */
    letter-spacing: -0.165px;
}

.position-relative img {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: none;
    border-right: none;
}

.underline {
    border-bottom: 2px solid #000; 
    display: inline-block; 
    padding-bottom: 5px;
}
.py-5{
    background-color: #335C67;
}

.py-5 h1 {
    color: #203037;
    text-align: center;
    font-family: "oaks", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    line-height: 150%; /* 48px */
    letter-spacing: -0.352px;
    }

.py-5 h4 {
    padding: 0 20px;

    color: #203037;
    text-align: center;
    font-family: "oaks", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 16.5px */
    letter-spacing: -0.121px;
}

.section-one{
    background-color: #335C67;
}

.stroke {
    width: 80%;
    height: 2px;
    background-color: #203037;
    margin: 0 auto;
}

.section-one h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #203037;
    text-align: center;
    font-family: "oaks", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    line-height: 150%; /* 48px */
    letter-spacing: -0.352px;
}

.section-one img {
    margin: 0;
    max-width: 100%;
    height: auto;
}

.section-two {
    background-color: #E09F3E;
}

.section-two h2 {
    color: #7D5016;
    text-align: center;
    font-family: "oaks", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: bold;
    line-height: 150%; /* 19.5px */
    letter-spacing: -0.143px;
    padding-top: 10px;
}

.section-two h3 {
    color: #AF7224;
    font-family: "oaks", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 90%; /* 19.5px */
    letter-spacing: -0.143px;
    margin-left: 25px;
}

.section-two img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-three {
    background-color: #540B0E;
    padding: 15px;
}

.section-three h2 {
    color: #9E2A2B;
    text-align: center;
    font-family: "riant-display", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 90%;
}

.section-three h3 {
    color: #9E2A2B;
    font-family: "riant-display", serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Edits for bigger screen sizes */

@media screen and (min-width: 800px) {
    .py-5 h1 {
        font-size: 50px;
    }

    .py-5 h4 {
        font-size: 20px;
        margin-left: 40px;
        margin-right: 4%;
    }

    .section-one h1 {
        font-size: 50px;
    }

    .section-two h2 {
        font-size: 25px;
    }

    .section-two h3 {
        font-size: 20px;
    }
}